
/* * Insertar en HTML
        <h2 class="batalla">¡Un Pokémon salvaje apareció!</h2>
        */

@keyframes batalla {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.batalla {
    animation: batalla 1s ease-out;
}